body {
  height: 100%; 
  overflow: hidden; 
  margin: 0;
  background-color: rgb(68, 68, 68);
}

#container {
  display: grid;
  grid-template-columns: repeat(var(--cols), 14px);
  grid-template-rows: repeat(var(--rows), 28px);
}

.cell {
  width: 14px;
  height: 28px;
  overflow: hidden;

  text-align: center;
  line-height: 28px;
  font-size: xx-large;
  font-family: monospace;
}
